#base{
    width:500px;
    background-color: rgb(199, 193, 193);
    padding: 20px;
    border-radius: 10px;
    font-style: italic;
    font-size: 18px;
}

#base button{
    width:100px;
    height:30px;
    outline:none;
    font-style: italic;
    font-size: 15px;
    background:white;
    border:2px solid #777;
    border-radius:8px;
    cursor:pointer;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:10px;
    background-color: rgb(184, 255, 255);
}

#base button:hover{
    border:2px solid #333;
    font-weight:bold;
    background-color: white;
}

#base li{
    word-wrap:break-all;
    overflow-wrap: break-word;
}

#base .domain{
    height:40px;
    line-height:40px;
    padding-left:10px;
    position:relative;
    cursor:pointer;
    border-radius: 5px;
}

#base .domain:hover{
    border:1px solid rgb(199, 199, 199);
    font-weight:bold;
    border-radius: 5px;
}

#base .domain .domain-name{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    white-space: nowrap;
}

#base .domain .domain-amount{
    float:right;
    z-index:1000;
}

#base  .title{
    font-weight:bold;
}

#base .name{
    font-style:italic;
}